@use "../variables" as *;

.signin-wrapper {
  min-height: 100vh;
  background: #fff ;
  display: flex;
  justify-content: center;
  align-items: center;

}

.signin-card {
  width: 380px;
  background: #fff;
  padding: 32px 28px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
}

.signin-row {
  display: flex;
  justify-content: space-between;
}

.signin-title {
  text-align: center;
}

.signin-subtitle {
  display: block;
  text-align: center;
}


@media (max-width: $mobile) {
  .signin-wrapper {
    padding: 0;
  }

  .signin-card {
    width: 100%;
    padding: 22px 18px;
    box-shadow: none;
  }

  .signin-title {
    font-size: 18px;
  }

  .signin-subtitle {
    font-size: 13px;
  }

  .input {
    height: 44px;
    border-radius: 20px;
  }

  .ant-btn {
    height: 44px;
    border-radius: 22px;
  }

}
